html,
body {
    /* opacity: 0.1;   */
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: #ffffff;
}

/* Map (bản đồ to để lia) */
#map {
    opacity: 0.1;
    position: absolute;
    width: 300vw;
    height: 300vh;
    background: radial-gradient(circle at 50% 50%, #0047AB 0%, #001F3F 100%);
    transition: transform 0.03s ease;
    will-change: transform;
}

/* Tướng ở giữa màn hình */
#champion {
    /* opacity: 0.1; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background: gold;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 20px yellow;
    z-index: 2;
}

/* UI cố định */
#ui {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3;
    /* opacity: 0.1  ; */
}

.minimap {
    /* opacity: 0.1;   */
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 120px;
    height: 120px;
    background: rgba(255, 255, 255, 0.15);
    border: 2px solid white;
    border-radius: 10px;
}

.hp-bar {
    /* opacity: 0.1; */
    position: absolute;
    top: 20px;
    left: 20px;
    width: 220px;
    height: 24px;
    background: red;
    border: 2px solid white;
} 

