html {
    font-size: 62.5%;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    height: 600vh;
}

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0F1B4C;
    --primary-text-color: #000339;

}

/* common */

.content {
    /* position: relative; */
    width: 1110px;
    /* max-width: calc(1110px - 48px); */
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 20px;
}

.btn {
    min-width: 98px;
    border-radius: 12px;
    background: var(--primary-color);
    color: #ffffff;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 18px 16px;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;

}


.header {
    position: relative;
    /* width: 1440px; */
    height: 100vh;
    background: #E6F0FF;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul a {

    font-weight: 500;
    font-size: 1.4rem;
    color: #4F5361;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.navbar .action-link {

    font-weight: 500;
    font-size: 14px;
    color: var(--primary-color);
}

.navbar .action-btn {
    padding: 13px 22px;
    border-radius: 8px;
    margin-left: 18px;
}

/* Hero */
.hero {
    /* position: absolute; */
    /* width: 1275px; */

    display: flex;
    /* margin-left: 165px; */
    margin-top: 130px;
}

.hero .info {
    /* width: 51%; */
    width: 553px;
}


.hero .sub-title {
    color: #687690;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;

    letter-spacing: 0.18px;
}

.hero .title {
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 76px;
    margin-top: 8px;

    color: #000336;
}

.hero .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
    margin-top: 30px;
    text-transform: capitalize;
    color: #5A6473;
}

.hero .desc span {
    text-transform: lowercase;
}

.hero .btn-cta {
    display: inline-block;
    min-width: 170px;
    margin-top: 40px;


    font-weight: 500;
    font-size: 1.3rem;
}

.hero img {
    width: 584px;
    height: 619px;

    margin-left: 67px;
    position: absolute;
    bottom: 0;
    /* right: 65px; */
    right: calc((1440px - 1110px) / 2 - 100px);
}

/* ========== Cinent =========== */

.client {
    /* background: green; */
    margin-top: 79px;
    padding-top: 46px;
    padding-bottom: 41px;
}

.client .row {
    display: flex;
    justify-content: space-between;
}

.client .row .desc {
    margin-top: 23px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 20px;
    color: #7D8589;
}

.row-top {
    margin-top: 70px;
}

.row .images {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 70px; */
}

.row .images a {
    display: inline-block;
    border-radius: 12px;
    height: 91px;
    padding: 32px 41px 23px;


}

.row .images a:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.10);
    background: #FFF;
    cursor: pointer;
}

/* ============== guides =================*/

.guides {
    /* background: green; */
    padding-top: 93px;
    padding-bottom: 79px;
    margin-top: 40px;
}

.guides .title {
    position: relative;
    color: var(--primary-text-color);
    text-align: center;

    font-size: 3.5rem;

    font-weight: 600;
    line-height: 3.5rem;
    /* 100% */

}

.guides .title::before {
    width: 100%;
    content: "";
    position: absolute;
    /* bottom: 45px; */
    top: -10px;
    left: 50%;
    /* margin: 0 auto; */
    transform: translateX(-50%);
    width: 41px;
    height: 4px;
    background: var(--primary-text-color);
    border-radius: 12px;
}

.guides .sub-title {
    margin: 0 auto;
    width: 46%;
    color: #5A6473;
    text-align: center;

    font-size: 1.6rem;

    font-weight: 400;
    line-height: 3rem;
    /* 187.5% */
    margin-top: 20px;
    margin-bottom: 70px;
}

.list-guides {
    display: flex;
    /* width: 69%; */
    justify-content: center;
    margin: 0 auto;

}

.list-guides li {
    text-align: center;
    margin: 0 70px;
}

.list-guides .title-cta {

    font-weight: 500;
    font-size: 2rem;
    line-height: 22px;
    text-align: center;
    color: #3B3C45;
    margin-top: 26px;
    /* margin-bottom: 9px; */

}

.list-guides .link-cta span {

    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #0689FF;
    margin: 8px;
}

ul.list-guides a.link-cta {
    margin-top: 10px;
    /* text-align: center; */
}



.guides a.link-cta {
    /* display: flex; */
    /* display: inline-block; */
    font-weight: 500;
    font-size: 1.3rem;
    min-width: 170px;
    /* text-align: center; */


    margin: 0 auto;
}

.guides .content div {
    display: flex;
    margin-top: 48px;
}

/* ========== featur ========== */
.featur {
    background: #F5FAFE;
    margin-top: 41px;
    padding-bottom: 110px;
    padding-top: 110px;
}

.content h2 {

    font-weight: 600;
    font-size: 3.5rem;
    line-height: 35px;
    color: var(--primary-text-color);
}

.featur .content .row .sub-title {
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}


.featur .row .sub-title {

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 30px;
    color: #5A6473;
}

.row .link-cta {
    display: flex;
    align-items: center;
}

.row .link-cta span {
    color: #0689FF;
    font-size: 1.8rem;
    font-weight: 600;
    margin-right: 8px;
    /* margin: 8px; */
}

.featur .list {
    margin-top: 68px;
    display: flex;

    gap: 0 30px;
}

.item {
    flex: 1;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 65px 80px -46px rgba(226, 238, 249, 0.60);
}


.thump {
    width: 100%;
    height: 227px;
    border-radius: 12px;
    object-fit: cover;
}

.sub-item {
    padding-top: 17px;
    padding-left: 20px;
    padding-bottom: 22px;
}

.list .item h3 {
    /* margin-top: 17px; */
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    /* text-align: center; */
    color: var(--primary-text-color);
}

.featur .list .item .sub-title {
    /* --line-clamp: 3; */
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    word-break: break-all;
    /* text-align: center; */
    color: #A3A6AB;
}

.sub-item div {
    display: flex;
    margin-top: 21px;
    align-items: center;
}


.sub-item .label {
    display: flex;
    align-self: center;
    padding-top: 3px;
    color: #4D4D52;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 14px;
    /* 100% */
    letter-spacing: 0.14px;
    margin-left: 8px;
    margin-right: 22px;

}

.box {
    color: red;
    background: green;
    margin: 10px;
    top: 100px;
    left: 100px;
}

/* ============= statistical ============== */

.statistical {
    margin-top: 75px;
    padding: 50px 227px 50px 196px;
}

.statistical .content {

    width: 1017px;

}

.statistical .row {
    display: flex;
    width: 100%;
    margin-top: 0;
    justify-content: space-between;
}


.img-block {
    width: 51%;
    position: relative;

    /* background: green; */
    border-radius: 12px;
}

.img-avarage {
    display: block;
    width: 400px;
    height: 460px;
    /* position: absolute;
    top: 0;
    right: 0; */

    margin-left: auto;
    object-fit: cover;
    border-radius: 12px;
    background: url(<path-to-image>) lightgray 0px -79.595px / 100% 117.792% no-repeat;
    box-shadow: 40px 80px 155px 0 rgba(30, 103, 113, 0.03);
}

.info-avarage-house {
    width: 46%;
    height: 54%;
    padding: 45px 22px 41px 22px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 12px 12px;
    background: #FFF;
    box-shadow: 90px 85px 100px 0 rgba(0, 0, 0, 0.06);
}

.info-avarage-house .title-header {
    display: flex;
    margin-bottom: 8px;
}

.info-avarage-house .title {


    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1;
    /* 100% */
    letter-spacing: 0.26px;
}

.info-avarage-house .title span {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.26px;
}

.info-avarage-house .vector {
    display: block;
    margin-left: auto;
}

.statistical .info-avarage-house .sub-title {
    position: relative;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #A7A7A7;
}

.statistical .info-avarage-house .sub-title::before {
    content: "";
    width: 193.62px;
    height: 1.2px;

    position: absolute;
    background: #E9E9E9;
    bottom: -26px;
    left: 0;
}

.info-avarage-house .icon-avata {
    margin-top: 52.5px;
}

div.block-icon {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

div.block-icon+div.block-icon {
    margin-top: 16px;
}

div.block-icon div {
    display: flex;
    margin-right: 14px;
    /* justify-content: center; */
    /* align-items: center; */
}

.info-avarage-house img.avata-icon {
    /* display: block; */
    width: 16px;
    height: 16px;
    object-fit: cover;
    background: red;
    border-radius: 16.337px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.10);
    /* justify-content: center; */
    /* align-items: center; */
}

.info-avarage-house img.avata-icon+img.avata-icon {
    margin-left: -4px;
}

.statistical .info {
    width: 49%;
    padding-top: 79px;
    padding-left: 165px;

}

.statistical .info .title {
    position: relative;
    width: 269px;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.28;
    margin-bottom: 20px;
    /* 128.571% */
}

.statistical .info .title::before {
    content: "";
    width: 41px;
    height: 4px;

    position: absolute;
    top: -10px;
    left: 0;
    border-radius: 12px;
    background: #000339;
}


.statistical .info .sub-title {
    width: 309px;
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    /* 187.5% */
}

.statistical .content .row-qty {
    margin-top: 110px;
    padding-left: 32px;
}

.row .qty-item strong {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;

}

.row .qty-item p {
    color: #7B8087;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 22px;
}

/* ============= supcription ============== */
.supcription {
    margin-top: 52px;
    padding-top: 39px;
}

.supcription .body {
    display: flex;
    height: 370px;
    align-items: center;
    /* flex-direction: column; */
    /* justify-content: center; */
    position: relative;
    border-radius: 20px;
    background: #063183;
    padding: 0 80px;
}

.supcription .info {
    width: 500px;
}

.supcription .info .title {
    color: #FFF;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 15px;
    /* 100% */
}

.supcription .info .sub-title {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    opacity: 0.75;
    margin-bottom: 20px;
    /* 187.5% */
}

.supcription .btn-cta {
    display: inline-block;
    /* padding: 0 42px; */
    min-width: 151px;
    border-radius: 12px;
    background: #FFF;
    color: #002366;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.supcription img.img-banner {
    display: block;
    position: absolute;
    top: -39px;
    /* bottom: -31px; */
    right: 221px;
}

/* =========== footer ============ */

.footer {
    margin-top: 55px;
    padding-top: 50px;
    padding-bottom: 58px;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .row-bottom {
    margin: 0 0 81px 0;
}

.footer div .title {
    color: #1C1C1D;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 42px;
}

.footer ul .sub-title,
.footer .desc {
    color: #7A7A7E;
    font-size: 1.6rem;
    font-weight: 400;
}

.footer ul .sub-title+.sub-title {
    margin-top: 18px;
}

.footer .desc {
    margin-top: 40px;
    width: 257px;
    line-height: 1.75;
}

.footer .desc-icon {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 40px;
    gap: 0 16px;
}

.footer .row .copy {
    color: #C2C2C2;
    font-size: 1.4rem;
    font-weight: 400;
}